extends ./layout
append style
  style.
    body{
      overflow-y: auto;
    }
block title
  title #{postName}
block content
  .right-container
    .panel.post-detail
      h1= config.title
      .markdown-body
        != content
