extends ./layout
block content
  #tagList
  - var tagPostsInPug = JSON.stringify(tagPosts);
  script(type='text/javascript').
    $(document).ready(function () {
      var tagPosts = !{tagPostsInPug};
      var tagPostsDom = window.vueCom.tagPosts('#tagList', {
        data: tagPosts
      });
    });
